---
layout: 'default'
title: 'Jamie Owen | Selected Work'
---

<h1><br/></h1>
<% for document, i in @getCollection('pages').toJSON(): %>
	<%- '<div class="row">' if i % 3 == 0 %>
		<div class="col-lg-4">
			<img class="img-responsive" src="images/project-thumbs/<%= document.basename %>-thumb.jpg"/>
			<p class="text-center text-upper text-bold text-gray-light"><%= document.title.toString().split("|")[0] %></p>
			<p class="text-center text-upper text-bold"><%= document.title.toString().split("|")[1] %></p>
		</div>
	<%- '</div>' if i % 3 == 2 %>
<% end %>	
