---
layout: 'default'
title: 'Jamie Owen | Selected Work'
---

<h1><br/></h1>
<% for document, i in @getCollection('pages').toJSON(): %>
	<%- '<div class="row">' if i % 3 == 0 %>
		<div class="col-lg-4">
			<a href="<%= document.url %>" property="dc:title"><img class="img-responsive" src="images/project-thumbs/<%= document.basename %>-thumb.jpg"/></a>
			<p class="text-center text-upper text-bold text-gray-light"><a href="<%= document.url %>" property="dc:title"><%= document.title.toString().split("|")[0] %><br/>
			<span class="text-gray text-bold"><%= document.title.toString().split("|")[1] %></span></a></p>
		</div>
	<%- '</div>' if i % 3 == 2 %>
<% end %>	
